* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h1
{
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #71ebbc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2
{
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #71ebbc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h3
{
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #71ebbc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
nav 
{
    background-color: #054f66;
}
nav a 
{
    float: left;
    color: #112e2a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover 
{
    background-color: #a3f7e2;
    color: black;
}
nav a.active 
{
    background-color: #4CAF50;
    color: white;
}
.header-image 
{
    text-align: left;
    background-color: #71ebbc;
}
  
.header-image img 
{
    max-width: 100%;
    height: auto;
}
.flex-container {
    padding: 2% 15% 2% 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-item {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ccfffa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#aboutme
{
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#aboutme p
{
    text-align: center;
    font-size: 20px;
    font-display: bold;
    padding: 20px;
    background-color: #ccfffa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#aboutme h3
{
    text-align: center;
    font: bold;
    background-color: #71ebbc;
}
#aboutme ul
{
    text-align: center;
    font-size: 20px;
    font-display: bold;
    padding: 1%;
    background-color: #b9fdff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    list-style-type: none;
}
#aboutme li
{
    text-align: center;
    font-size: 20px;
    font-display: bold;
    padding: 20px;
    background-color: #b9fdff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#aboutme li:hover
{
    background-color: #00ffe5;
    color: black;
}
.para
{
    text-align: center;
    font-size: 22px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}  
input[type=submit]:hover {
    background-color: #45a049;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
footer
{
    justify-content: center;
    text-align: center;
    padding: 1%;
    background-color: #333;
    color: rgb(0, 0, 0);
}
footer h3
{
    text-align: center;
    padding: 15px;
    color: rgb(0, 0, 0);
}
footer p
{
    text-align: center;
    padding: 15px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
footer i
{
    font-size: 25px;
    text-align: center;
    padding: 3px;
    color: rgb(0, 0, 0);
}
@media screen and (max-width: 1200px) {
    .flex-item {
        flex-basis: calc(50% - 20px);
    }
}